{% extends 'base.html.twig' %}

{% block title %}Liste des voyages{% endblock %}

{% block body %}
    <div class="container">
        <h1>Récapitulatif de vos sorties annuelles</h1>

        {% for trip in trips %}
            <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#id-{{ trip.id }}"
                                aria-expanded="true" aria-controls="id-{{ trip.id }}">
                            Nom de la sortie : {{ trip.name }}
                        </button>
                    </h2>
                </div>

            </div>
            <div id="id-{{ trip.id }}" class="collapse" aria-labelledby="headingOne"
                 data-parent="#accordionExample">
                <div class="card-body">
                    <p>{{ trip.description }}</p>
                    <button class="btn-btn-light"><a href="{{ path('trip_show', {'id': trip.id}) }}">Aperçu</a></button>
                    <button class="btn-btn-light"><a href="{{ path('trip_edit', {'id': trip.id}) }}">Editer la
                            sortie</a></button>

                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="12">Aucunes sorties</td>
            </tr>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-2">
                <a href="{{ path('trip_new') }}">Ajouter une nouvelle sortie</a>
            </div>
            <div class="offset-8 col-2">
                <a href="{{ path ('admin') }}">Retour au Menu</a>
            </div>
        </div>
    </div>
{% endblock %}
