{% extends 'base.html.twig' %}

{% block title %}Liste des voyages{% endblock %}

{% block body %}
    <div class="container">
        <h1>Récapitulatif de vos sorties annuelles</h1>
        {% for trip in trips %}
        <table class="table table-hove">
            <tbody>
            <tr></tr>
            <td>{{ trip.id }}</td>
            <td>{{ trip.price }}</td>
            <td>{{ trip.dateStart ? trip.dateStart|date('Y-m-d') : '' }}</td>
            <td>{{ trip.dateEnd ? trip.dateEnd|date('Y-m-d') : '' }}</td>
            <td>{{ trip.nbDiver }}</td>
            <td>{{ trip.nbMonitor }}</td>
            <td>{{ trip.createdAt ? trip.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td><p>{{ trip.description }}</p></td>
            <td>{{ trip.location }}</td>
            <td>{{ trip.name }}</td>
            <td><a href="{{ path('trip_show', {'id': trip.id}) }}">Aperçu</a>
                <a href="{{ path('trip_edit', {'id': trip.id}) }}">Editer la sortie</a>
            </td>
            </tr>

            </tbody>


            {% else %}
                <tr>
                    <td colspan="12">Aucunes sorties</td>
                </tr>
            {% endfor %}
        </table>
        <div class="row">
            <div class="col-2">
                <a href="{{ path('trip_new') }}">Ajouter une nouvelle sortie</a>
            </div>
            <div class="offset-8 col-2">
                <a href="{{ path ('admin') }}">Retour au Menu</a>
            </div>
        </div>
    </div>
{% endblock %}
