{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello Admin!{% endblock %}
{% block body %}

    <div class="container mt-2">
        <h1 class="display-4">Bonjour admin</h1>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card" style="width: 18rem; margin-bottom: 10px">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Retour au site</h5>
                        <a href="{{ path('pmtindex') }}" class="btn btn-primary">Retour au site</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem; margin-bottom: 10px">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Liste des membres</h5>
                        <a href="{{ path('user_index') }}" class="btn btn-primary">Voir </a>
                    </div>
                </div>

                <div class="card" style="width: 18rem; margin-bottom: 10px">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Liste des sorties</h5>
                        <a href="{{ path('trip_index') }}" class="btn btn-primary">Voir </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card" style="width: 18rem; margin-bottom: 10px">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Nouvelle sortie</h5>
                        <a href="{{ path('trip_new') }}" class="btn btn-primary">Créer </a>
                    </div>
                </div>

                <div class="card" style="width: 18rem; margin-bottom: 10px">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Nouveau membre</h5>
                        <a href="" class="btn btn-primary">Créer </a>
                    </div>
                </div>

                <div class="card" style="width: 18rem; margin-bottom: 10px">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des documents</h5>
                        <a href="{{ path('admin_document') }}" class="btn btn-primary">Editer </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
