{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}

        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>
{% endblock %}
