{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1 style="text-align: center" class="h1-contact">Contactez nous</h1>
    {{ form_start(form) }}
    <div class="container container-contact">
        <section class="section pb-5">
            <div class="row">
                <div class="col-lg-5 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-header blue accent-1">
                                <h3> Pour nous écrire</h3>
                            </div>
                            <br>
                            <div class="md-form">
                                {{ form_label (form.lastname, 'Nom :') }}
                                {{ form_widget(form.lastname) }}

                            </div>

                            <div class="md-form">
                                {{ form_label (form.email, 'Email :') }}
                                {{ form_widget(form.email) }}
                            </div>

                            <div class="md-form">
                                {{ form_rest(form) }}
                            </div>
                            <div class="text-center mt-4">
                                <button class="btn-primary float-right" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}


                </div>
                <div class="col-lg-7">

                    <!--Google map-->
                    <div id="map-container-google-11" class="z-depth-1-half map-container-6"
                         style="height: 400px">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1jPvtX0eYv_GOjlnpWYMDIJ58OWsPBydo&hl=fr"
                                frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
            <div class="row text-center mt-3">
                <div class="col-8 offset-2 col-md-4 offset-md-4">
                    <p><strong>Plongeur Masqué de Trévoux</strong></p>
                    <p>Piscine Gabriel Mercier</p>
                    <p>    636 chemin Arras</p>
                    <p>   01600 TREVOUX</p>

                </div>
            </div>
        </section>
    </div>

{% endblock %}
    {% block footer %}
        {% include '_footer.html.twig' %}
    {% endblock %}
