{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    {{ form_start(form) }}
    <div class="container mb-5">
        <div class="inscriptionTitle">
            <span>Formulaire de contact</span>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{ form_label (form.firstname, 'Prénom :') }}
                    {{ form_widget(form.firstname) }}
                    {{ form_label (form.lastname, 'Nom :') }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ form_label (form.phone, 'Téléphone :') }}
                    {{ form_widget(form.phone) }}
                    {{ form_label (form.email, 'Email :') }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="col-12 m-1">
                {{ form_rest(form) }}
            </div>
        </div>

        <button class="btn-primary float-right" type="submit">Envoyer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

    {% block footer %}
        {% include '_footer.html.twig' %}
    {% endblock %}
