<div class="nav-background">
    <nav class="navbar navbar-expand-lg positionZ">
        <a class="navbar-brand  p-0" href="#"><h1>Plongeurs Masqués de Trévoux</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="
            navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-warning"></span>
        </button>

{#        // listes en bourrin des liens vers les différents pages#}
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item " >
                    <a class="nav-link text-white" href="{{ path('pmtindex') }}">Accueil</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('contact') }}">Contactez-nous</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('user_index') }}">Liste Adherents</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('login') }}">Connexion</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>

    <svg class="svgnavbar" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 0,100  100,100 0,35"/>
    </svg>
    <img src="/img/Le-Plongeur-Masque.png" alt="logo association PMT" class="logosite">

</div>