<div class="nav-background">
    <nav class="navbar navbar-expand-lg positionZ bgNavbar-primary navbar-dark ">
        <a class="navbar-brand  p-0" href="#"><h1>PMT</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {#        // listes en bourrin des liens vers les différents pages#}
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('pmtindex') }}">Accueil</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('activity_index') }}">Nos activités</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('pmt_showTeam') }}">Notre équipe</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('contact') }}">Contactez-nous</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse mr-1" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-1 ">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path ('easyadmin') }}">Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_logout') }}"> Se déconnecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('account_index') }}"> Mon compte</a>
                    </li>
                {% elseif app.user %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('account_index') }}"> Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_logout') }}"> Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('login') }}"> Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <svg class="svgnavbar" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 0,100  100,100 0,35"/>
    </svg>
    <img src="/img/Le-Plongeur-Masque.png" alt="logo association PMT" class="logosite">

</div>
