{% extends 'baseAdmin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Mail</th>
                <th>HomePhone</th>
                <th>MobilePhone</th>
                <th>Birthday</th>
                <th>Address</th>
                <th>ZipCode</th>
                <th>City</th>
{#                <th>Comment</th>#}
{#                <th>Picture</th>#}
{#                <th>CreatedAt</th>#}
{#                <th>UpdateAt</th>#}
{#                <th>IsAdmin</th>#}
{#                <th>IsMonitor</th>#}
{#                <th>IsSwim</th>#}
{#                <th>IsDiver</th>#}
{#                <th>IsHandi</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.homePhone }}</td>
                <td>{{ user.mobilePhone }}</td>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.city }}</td>
{#                <td>{{ user.comment }}</td>#}
{#                <td>{{ user.picture }}</td>#}
{#                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ user.updateAt ? user.updateAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>#}
{#                <td>{{ user.isMonitor ? 'Yes' : 'No' }}</td>#}
{#                <td>{{ user.isSwim ? 'Yes' : 'No' }}</td>#}
{#                <td>{{ user.isDiver ? 'Yes' : 'No' }}</td>#}
{#                <td>{{ user.isHandi ? 'Yes' : 'No' }}</td>#}
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
