{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <div hidden>{{ user.id }}</div>
    <div class="container container-user">
        <div class="row mb-5">
            <h3 class="text-center col-12 border-bottom border-primary">Bienvenue {{ user.firstname }}</h3>
        </div>

        <div class="row">
            {#  navigation dans les diefférents onglets accesibles par l'adherent#}
            <div class="col-12 col-lg-12">
                {#  navigation dans les différentes zones 3 en initiales#}
                <section id="tabs" class="project-tab">

                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link {{ tabsOpen == 'account' ? 'active': '' }} "
                                   id="nav-account-tab" data-toggle="tab"
                                   href="#nav-account" role="tab" aria-controls="nav-account"
                                   aria-selected="false">Mon compte</a>
                                <a class="nav-item nav-link {{ tabsOpen == 'inscription' ? 'active': '' }}"
                                   id="nav-inscription-tab" data-toggle="tab"
                                   href="#nav-inscription" role="tab" aria-controls="nav-inscription"
                                   aria-selected="true">Mon
                                    inscription au PMT</a>
                                <a class="nav-item nav-link {{ tabsOpen == 'sortie' ? 'active': '' }}"
                                   id="nav-sortie-tab" data-toggle="tab"
                                   href="#nav-sortie" role="tab" aria-controls="nav-sortie"
                                   aria-selected="false">Les sorties</a>
                                <a class="nav-item nav-link {{ tabsOpen == 'messorties' ? 'active': '' }}"
                                   id="nav-messorties-tab" data-toggle="tab"
                                   href="#nav-messorties" role="tab" aria-controls="nav-messorties"
                                   aria-selected="false">Mes sorties</a>
                                <a class="nav-item nav-link {{ tabsOpen == 'document' ? 'active': '' }}"
                                   id="nav-document-tab" data-toggle="tab"
                                   href="#nav-document" role="tab" aria-controls="nav-document"
                                   aria-selected="false">Mes documents</a>
                            </div>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            {#  affichage du compte de l'utlisteu#}
                            <div class="tab-pane fade show {{ tabsOpen == 'account' ? 'active': '' }}" id="nav-account"
                                 role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            {% if user is null %}
                                                <img src="" class="card-img" alt="...">
                                            {% else %}
                                                <img src="{{ '/uploads/images/users/' ~ user.imageName }}"
                                                     class="card-img" alt="...">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h4 class="card-title font-weight-bold">{{ user.firstname }} {{ user.lastname }}</h4>
                                                <p class="card-text"><strong>Email</strong> : {{ user.email }} </p>
                                                <p class="card-text"><strong>Téléphone fixe</strong>
                                                    : {{ user.homePhone }} </p>
                                                <p class="card-text"><strong>Mobile</strong> : {{ user.mobilePhone }}
                                                </p>
                                                <p class="card-text"><strong>Adresse</strong> : {{ user.address }} </p>
                                                <p class="card-text"><strong>Ville</strong>
                                                    : {{ user.zipCode }} {{ user.city }} </p>
                                                <p class="card-text">
                                                    <strong>Date de naissance</strong>
                                                    : {{ user.birthday ? user.birthday|localizeddate('none', 'none', null, null, 'eeee d MMMM Y') : '' }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {#   gestion si membre inscrit ou pas. si  inscrit info inscription ,si pas inscript
                                    on renvoi la validation de l'inscription #}
                                    <div class="card-footer bg-transparent border-top-0">
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"
                                           class="btn btn-primary text-white">Modifiez
                                            vos informations</a>

                                    </div>
                                </div>
                            </div>

                            {#  affichage du statut de l'inscription onglet mon inscription#}
                            <div class="tab-pane fade show {{ tabsOpen == 'inscription' ? 'active': '' }}"
                                 id="nav-inscription" role="tabpanel"
                                 aria-labelledby="nav-home-tab">

                                {#                                si pas inscrit on affiche le lien vers le form d'inscription: si inscrit info de l'inscription#}
                                {% if inscriptionOfYear is empty %}
                                    <div class="btn_inscription">
                                        <a href="{{ path('inscriptionForm') }}" class="btn btn-primary text-white">S'inscrire
                                            au PMT</a>
                                    </div>
                                {% else %}
                                    <div class="mt-3">Ma periode d'inscription :
                                        <strong>{{ inscriptionOfYear.inscriptionYear }}</strong></div>
                                    <div class="mt-3">Statut de votre inscription:
                                        <strong>{{ inscriptionOfYear.inscriptionStatus is null ? '' :  inscriptionOfYear.inscriptionStatus.name }}</strong>
                                    </div>
                                    <h4 class="mt-3"><strong>Rôle et activités:</strong></h4>
                                    <ul style="list-style: square;">
                                        {% if user.isMonitor %}
                                            <li>{{ user.level is null ? '' : 'Moniteur: niveau '  ~ user.level.name }}</li>
                                        {% endif %}
                                        {% if user.isDiver %}
                                            <li> {{ user.level is null ? '' : 'Adhérent plongeur: niveau ' ~ user.level.name }}</li>
                                        {% endif %}
                                        {% if user.isSwim %}
                                            <li>{{ 'Adhérent nageur' }}</li>
                                        {% endif %}
                                        {% if user.isAdmin %}
                                            <li>{{ 'Autorisation: administration du site' }}</li>
                                        {% endif %}
                                    </ul>
                                    <h4 class="mt-3"><strong>Droits à l'image</strong></h4>
                                    <div class="mt-2">
                                        {{ inscriptionOfYear.imageRight? 'Vous avez autorisé la diffusion d\'image' : 'Vous n\'avez pas autorisé la diffusion d\'image' }}</div>
                                    <h4 class="mt-3"><strong>Un commentaire?</strong></h4>
                                    <div>{{ user.comment }}</div>
                                    <a href="{{ path ('pdf') }}"
                                       class="btn btn-primary mb-5 mt-5">{{ button_label|default('Générer un pdf') }}</a>
                                    {#    PAs d'afficahge du statut isHandi    #}
                                    {#                                    end if si insrit ou pas: #}
                                {% endif %}
                                {% if inscriptionPast is not empty %}
                                    {#                                    affichage des anciennes inscription au club pour l'adherent #}
                                    <h2>Mes inscriptions passées</h2>
                                    <ul>
                                        {% for inscr in inscriptionPast %}
                                            <li> {{ inscr.inscriptionYear }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </div>

                            {# affichage de la listes des sorties #}
                            <div class="tab-pane fade show {{ tabsOpen == 'sortie' ? 'active': '' }}" id="nav-sortie"
                                 role="tabpanel"
                                 aria-labelledby="nav-contact-tab">
                                <h4 class="mt-3"><strong>Listes des sorties
                                        disponibles : {{ tripsNotBooked|length }}</strong></h4>
                                {#                                         ajout  des sorties une par une : suelement celle en cours#}
                                {% for trip in tripsNotBooked %}
                                    {#                                            on cree une card  par trip #}
                                    {#                                    if trip is already book on ne l'affcieh pas sur cette onglet#}
                                    <div class="card mb-3" style="max-width: 100%;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                {% if trip is null %}
                                                    <img src="" class="card-img" alt="...">
                                                {% else %}
                                                    <img src="{{ '/uploads/images/gallery/' ~ trip.imageName }}"
                                                         class="card-img" alt="image de trip">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h4 class="card-title">Sortie : {{ trip.name }}</h4>
                                                    <h5>{{ trip.typeTrip.name }}</h5>
                                                    <h5> lieu : {{ trip.location }}</h5>
                                                    <h5> Prix : {{ trip.price }} €</h5>
                                                    <p class="card-text">{{ trip.description }}</p>
                                                    <p class="card-text"><small
                                                                class="text-muted">du {{ trip.dateStart|date("d/m/Y à H:m") }}
                                                            au {{ trip.dateEnd|date("d/m/Y à H:m") }}</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        {#   gestion si membre inscrit ou pas. si  inscrit info inscription ,si pas inscript
                                        on renvoi la validation de l'inscription #}
                                        <div class="card-footer bg-transparent border-top-0">
                                            {#  creation du collapse de l'insription form participant Form2 de la page #}
                                            {% if inscriptionOfYear is empty %}
                                                <div class="btn_inscription">
                                                    <a href="{{ path('inscriptionForm') }}"
                                                       class="btn btn-primary text-white">Inscrivez vous à PMT pour
                                                        l'année en cours</a>
                                                </div>
                                            {% else %}
                                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                                        data-target="#{{ 'collapse' ~ trip.id }}" aria-expanded="false"
                                                        aria-controls="{{ 'collapse' ~ trip.id }}">
                                                    Accéder à l'inscription
                                                </button>
                                            {% endif %}

                                            <div class="collapse" id="{{ 'collapse' ~ trip.id }}">
                                                <div class="card card-body border-0">
                                                    {#                                                    afficahge form de participation #}
                                                    <div class="container">
                                                        {% set formTrip = formTripRegistration.createView %}
                                                        {{ form_start(formTrip) }}
                                                        {{ form_widget(formTrip.trip, {"value" : trip.id, "attr": {"id": "participant_trip_" ~ trip.id} }) }}
                                                        {#                                                        {{ form_widget(form2.token, { "attr": {"id": "participant_token_" ~ trip.id} }) }}#}
                                                        {{ form_label(formTrip.payment, 'Choix de mon moyen de paiement :') }}
                                                        {{ form_widget(formTrip.payment, {'attr': {'id': 'payment_trip_' ~ trip.id} }) }}

                                                        {{ form_label(formTrip.nbCompanion, 'Nombre d\'accompagnants :') }}
                                                        {{ form_widget(formTrip.nbCompanion, {"attr": {"id": "nbCompanion_trip_" ~ trip.id , value : "0"} }) }}
                                                        <button type="submit" class="btn btn-primary mt-4">M'inscrire à
                                                            cette sortie
                                                        </button>
                                                        {{ form_end(formTrip) }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                            {# affichage de la listes des sorties ou le user est inscrit #}
                            <div class="tab-pane fade show {{ tabsOpen == 'messorties' ? 'active': '' }}"
                                 id="nav-messorties" role="tabpanel"
                                 aria-labelledby="nav-contact-tab">
                                <h4 class="mt-3"><strong>Mes inscriptions aux
                                        sorties : {{ tripsAlreadyBook|length }}</strong></h4>
                                {#                                         ajout  des sorties une par une : suelement celle en cours#}
                                {% for bookTrip in tripsAlreadyBook %}
                                    {#                                    #}{#                                            on cree une card  par trip #}
                                    <div class="card mb-3" style="max-width: 100%;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                {% if bookTrip.trip is null %}
                                                    <img src="" class="card-img" alt="...">
                                                {% else %}
                                                    <img src="{{ '/uploads/images/gallery/' ~ bookTrip.trip.imageName }}"
                                                         class="card-img" alt="...">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">Sortie: {{ bookTrip.trip.name }}</h5>
                                                    <h5> lieu: {{ bookTrip.trip.location }}</h5>
                                                    <p class="card-text">{{ bookTrip.trip.description }}</p>
                                                    <p class="card-text"><small
                                                                class="text-muted">du {{ bookTrip.trip.dateStart|date("d/m/Y") }}
                                                            au {{ bookTrip.trip.dateEnd|date("d/m/Y") }}</small></p>
                                                </div>
                                            </div>
                                        </div>

                                        {#   gestion si membre inscrit ou pas. si  inscrit info inscription ,si pas inscript
                                        on renvoi la validation de l'inscription #}
                                        <div class="card-footer bg-transparent border-top-0">
                                            <p>Statut de votre inscription : {{ bookTrip.status }}</p>
                                            <p>Etat de votre dossier : {{ bookTrip.inscriptionStatus }}</p>
                                            {#                                            creation d'un from de déinscription #}
                                            {% set formTripCancel = formTripCancellation.createView %}
                                            {{ form_start(formTripCancel) }}
                                            {{ form_widget(formTripCancel.trip, {"value" : bookTrip.trip.id, "attr": {"id": "participant_trip_" ~ bookTrip.trip.id} }) }}
                                            <button type="submit" class="btn btn-primary mt-4">Me désinscrire</button>
                                            {{ form_end(formTripCancel) }}

                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                            {#  affichage de la zone de telechargement des docs #}
                            <div class="tab-pane fade show {{ tabsOpen == 'document' ? 'active': '' }}"
                                 id="nav-document" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-6">
                                        <h4 class="mt-3 inscriptionTitle">Documents modèles</h4>
                                        <ul>
                                            {% for document in documents %}
                                                <li>
                                                    <a href="{{ "/uploads/files/" ~ document.name }}"
                                                       class="a_doc">{{ document.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="mt-3 inscriptionTitle">Mes documents importés</h4>
                                        {% if user.inscriptions is empty %}
                                            <div class="mt-2">Aucun document disponible</div>
                                        {% else %}

                                            {% if inscriptionOfYear is not null %}
                                                <ul>
                                                    {% if inscriptionOfYear.internalProcedure is not null %}
                                                        <li>
                                                            <a href="{{ "/uploads/files/users/" ~ inscriptionOfYear.internalProcedure }}">{{ inscriptionOfYear.internalProcedure }}</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if inscriptionOfYear.medicalCertificate is not null %}
                                                        <li>
                                                            <a href="{{ "/uploads/files/users/" ~ inscriptionOfYear.medicalCertificate }}">{{ inscriptionOfYear.medicalCertificate }}</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if inscriptionOfYear.inscriptionSheet is not null %}
                                                        <li>
                                                            <a href="{{ "/uploads/files/users/" ~ inscriptionOfYear.inscriptionSheet }}">{{ inscriptionOfYear.inscriptionSheet }}</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            {% else %}
                                                <div class="mt-2">Aucun document importé</div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {#                                TODO ajouter liste des docs à télécharger en plus de ceux du menbres #}
                                <h4 class="inscriptionTitle">Importer mes documents</h4>
                                {% if inscriptionOfYear is empty %}
                                    <div class="btn_inscription">
                                        <a href="{{ path('inscriptionForm') }}" class="btn btn-primary text-white">S'inscrire</a>
                                    </div>
                                {% else %}
                                    {% set formDoc = formDocuments.createView %}
                                    {{ form_start(formDoc) }}
                                    {{ form_row(formDoc.internalProcedure) }}
                                    {{ form_row(formDoc.medicalCertificate) }}
                                    {{ form_row(formDoc.inscriptionSheet) }}
                                    <div class="row text-center">
                                        <button class="btn btn-primary col-12 col-sm-4 offset-4 mt-5 mb-5">{{ button_label|default('Sauvegarder') }}</button>
                                    </div>
                                    {{ form_widget(formDoc._token) }}
                                    {{ form_end(formDoc, {'render_rest': false}) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include '_footer.html.twig' %}
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(() => {
            $('form[name="inscription"]').submit(() => {
                let docs = "";
                if ($('input[name="inscription[internalProcedure]"]').val())
                    docs += "- Règlement intérieur\n";
                if ($('input[name="inscription[medicalCertificate]"]').val())
                    docs += "- Certificat Médical\n";
                if ($('input[name="inscription[inscriptionSheet]"]').val())
                    docs += "- Formulaire d'inscription\n";
                if (docs) {
                    if (!confirm('Êtes vous certain(e) de vouloir remplacer les documents suivants ?\n' + docs)) {
                        return false;
                    }
                }
            });
        });
    </script>
{%  endblock %}